.itemWrapper {
  @apply grid grid-cols-12 gap-4;
  margin-top: 120px;

  &-head {
    @apply col-span-full;
    display: flex;
    justify-content: space-between;
  }

  &-flag {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.8rem;
    border-radius: 24px;
    padding: 4px;
    background-color: #929292;
    z-index: 2;
  }

  &-main {
    @apply col-span-full;

    &-list {
      @apply grid grid-cols-12 gap-4;
    }

    &-item {
      @apply col-span-4;
      position: relative;

      &-thumnail {
        width: 100%;
        height: 240px;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
      }

      &-content {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-para {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          color: #153961;
        }

        &-tags {
          width: 100%;
          display: flex;
          gap: 4px;
          overflow-x: auto;
          white-space: nowrap;
          padding: 5px 0;
          min-height: 40px;

          &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: white;
          }

          &::-webkit-scrollbar {
            border: none;
            width: 6px;
            height: 8px;
            background-color: white;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #cacaca;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #92979c;
          }
        }

        &-tag {
          color: #d87eb1;
          text-transform: uppercase;
          font-size: 12px;
          border-radius: 8px;
          padding: 2px 4px;
        }

        &-title {
          color: #0a1a2d;
          font-size: 1.4rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          line-height: normal;
          font-weight: bold;
        }

        &-author {
          display: flex;
          align-items: center;
          gap: 12px;
          color: #f2ffe3;

          &-avatar {
            width: 2.8rem !important;
            height: 2.8rem !important;
            border-radius: 999px;
            border: 2px solid #f2ffe3;
          }
          &-info {
          }

          &-name {
            font-weight: bold;
            color: #0a1a2d;
          }

          &-created {
            font-weight: 500;
            font-size: 14px;
            font-style: italic;
            color: #647e9c;
          }
        }
      }
    }
  }

  @media (max-width: 786px) {
    &-head {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      & > :first-child {
        margin-bottom: 0;
      }
    }

    &-main {
      &-item {
        @apply col-span-full;
      }
      // &-content,
      // &-list {
      //   @apply col-span-full;
      // }

      // &-content {
      //   margin-bottom: 2rem;
      // }
    }
  }
}
